
#AirBomb_container img {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 10%;

    animation: Explosion 2s ease-out 1s infinite forwards;
}

#AirBomb2_container img {
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 85%;
    width: 50px;
    height: 50px;
    border-radius: 10%;

    animation: Explosion 2s ease-out 0.3s infinite forwards;
}
