
/* Going right*/
#Cloud1_container {
    z-index: 2;
    top: 0.1%;
    left: -13%;
    width: 10%;
    position: absolute;
    
}

#Cloud2_container {
    z-index: 3;
    top: 10%;
    left: -20%;
    width: 20%;
    position: absolute;
    
}

#Cloud3_container  {
    z-index: 2;
    top: 23%;
    left: -15%;
    width: 10%;;
    position: absolute;
    
}

#Cloud4_container  {
    z-index: 3;
    top: 76%;
    left: -20%;
    width: 20%;
    position: absolute;
    
}


/* Going left*/
#Cloud5_container {
    z-index: 3;
    bottom: 30%;
    right: -20%;
    width: 20%;
    position: absolute;
    
}

#Cloud6_container {
    z-index: 3;
    bottom: 45%;
    right: -20%;
    width: 20%;
    position: absolute;
    
}

#Cloud7_container {
    z-index: 2;
    top: 65%;
    right: -10%;
    width: 10%;
    position: absolute;
    
}

#Cloud8_container {
    z-index: 2;
    bottom: 38%;
    right: -20%;
    width: 10%;
    position: absolute;
    
}

