


#Baloon1_container {
    z-index: 1;
    top: 45%;
    left: 21%;
    width: 4%;
    

    animation: ScaleDown 0.7s ease-in-out infinite forwards;
}

#Baloon2_container {
    z-index: 1;
    top: 100%;
    left: 40%;
    width: 5%;


    animation: FlyUp 12s ease-in infinite forwards;
}

#Baloon3_container {
    z-index: 1;
    top: 100%;
    left: 50%;
    width: 4%;

    animation: FlyUp 12s ease-in 4s infinite forwards;
}