
/* Going right*/
#Cloud1_container {
    z-index: 2;
    top: 0.1%;
    left: -13%;
    width: 10%;
    
    
    animation: Fly 20s ease-in-out 0.5s infinite alternate;

    --dist: 115vw;
}




#Cloud2_container {
    z-index: 2;
    top: 10%;
    left: -30%;
    width: 20%;
    
    
    animation: Fly 20s ease-in-out 1s infinite alternate;

    --dist: 140vw;
}





#Cloud3_container  {
    z-index: 2;
    top: 23%;
    left: -15%;
    width: 10%;;

    
    animation: Fly 20s ease-in-out 3s infinite alternate;

    --dist: 110vw;
}



#Cloud4_container  {
    z-index: 2;
    top: 80%;
    left: -25%;
    width: 20%;

    --dist: 125vw;
    
    animation: Fly 20s ease-in-out 3s infinite alternate;
}





/* Going left*/
#Cloud5_container {
    z-index: 2;
    bottom: 30%;
    right: -50%;
    width: 20%;

    animation: Fly 20s ease-in-out 4s  infinite alternate;

   --dist: -125vw;
}



#Cloud6_container {
    z-index: 2;
    bottom: 45%;
    right: -50%;
    width: 20%;
    
    animation: Fly 20s ease-in-out 0.3s  infinite alternate;

    --dist: -125vw;
}


#Cloud7_container {
    z-index: 2;
    top: 65%;
    right: -10%;
    width: 10%;

    --dist: -120vw;
    
    animation: Fly 10s ease-in-out 1s infinite alternate;
}


#Cloud8_container {
    
    z-index: 2;
    top: 85%;
    left: -30%;
    width: 10%;

    --dist: -120vw;
    
    animation: Fly 7s ease-in-out 3s infinite alternate;
}

