#life_board  {
    scale: 0.1;
    top: -10%;
    left: 44%;

    
}

#time_board {
    rotate: 90deg;
    top: 0%;
    left: 44%;
    scale: 0.22 0.2;

    
}

#score_board {
    top: -30%;
    left: 44%;
    scale: 0.07;

    
}

#blackBar {
    z-index: 99;
    position: absolute;
    top: -23.7%;
    left: 44.1%;
    scale: 6.2% 24.8%;
}

#score_counter {
    z-index: 100;
    position: fixed;
    bottom: 22%;
    right: 5.5%;
    scale: 2;
}