#life_board  {
    scale: 0.1;
    top: -10%;
    left: 44%;

    
}

#time_board {
    rotate: 90deg;
    top: 0%;
    left: 44%;
    scale: 0.22 0.2;

    
}

#score_board {
    top: -22%;
    left: 44%;
    scale: 0.05;
}

#blackBar {
    z-index: 4;
    top: 26.8%;
    left: 44.1%;
    scale: 6.2% 24.8%;
}

#score_counter {
    font-family: 'VT323', monospace;
    font-size: 5vw;
    z-index: 4;
    position: absolute;
    bottom: 20.5%;
    right: 1%;
    
}

#restart {
    top: -29%;
    left: 44%;
    scale: 0.09;
}

#restart:hover {
    scale: 0.1;
}



