
#AirBaloon1_container {
    z-index: 1;
    top: 15%;
    left: 65%;
    width: 3%;
    

    animation: AirOut_DownRight 2s ease-in infinite forwards;
}

#AirBaloon2_container {
    z-index: 1;
    top: 25%;
    left: 75%;
    width: 3%;
    

    animation: AirOut_DownLeft 2s ease-in infinite forwards;
}

#AirBaloon3_container {
    z-index: 1;
    top: 73%;
    left: 50%;
    width: 2.5%;
    

    animation: FartLeft 1s linear infinite forwards;
}

#AirBaloon4_container {
    z-index: 1;
    top: 43%;
    left: 32%;
    width: 4%;
    

    animation: FartRight 1s linear infinite forwards;
}