
#AirBaloon1_container {
    z-index: 1;
    width: 3%;
    position: absolute;
}

#AirBaloon2_container {
    z-index: 1;
    width: 3%;
    position: absolute;
    
}

#AirBaloon3_container {
    z-index: 1;
    width: 2.5%;
    position: absolute;
    
}

#AirBaloon4_container {
    z-index: 1;
    width: 4%;
    position: absolute;
    
}