
#AirBomb_container  {
    z-index: 1;
    top: 45%;
    left: 5%;
    width: 3%;
    position: absolute;
}

#AirBomb2_container {
    z-index: 1;
    top: 75%;
    left: 85%;
    width: 3%;
    position: absolute;
}