
#game_over {
    z-index: 5;
    grid-area: 1 / 1;
    background-image: url(./Images/lose_background.jpg);
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#You_Lose {
    top: 5%;
    width: 35%;
    position: relative;
    left: 34%;
}


#Menu_Button2 {
    top: 52%;
    width: 30%;
    position: relative;
    left: -20%;
}

#Retry_Button {
    top: 53%;
    width: 30%;
    position: relative;
    left: -10%;
}

#Menu_Button2:hover, #Retry_Button:hover {
    scale: 1.1;
}


#lose_text {
    font-family: 'VT323', monospace;
    font-size: 5vw;
    position: relative;
    top: 0%;
    left: 35%;
}

#lose_score {
    color:rgb(255, 0, 0);
    font-family: 'VT323', monospace;
    font-size: 6vw;
    position: relative;
    top: -10%;
    left: 46.5%; 
}