
.position1{
    top: 100%;
    left: 55%;
}

.position2{
    top: 100%;
    left: 21%;
}

.position3{
    top: 100%;
    left: 40%;
}

.position4{
    top: 100%;
    left: 10%;
}

.position5{
    top: 100%;
    left: 80%;
}

.position6{
    top: 100%;
    left: 65%;
}

.position7{
    top: 100%;
    left: 75%;
}

.position8{
    top: 100%;
    left: 50%;
}

.position9{
    top: 100%;
    left: 32%;
}