
#start {
    z-index: 5;
    grid-area: 1 / 1;
    background-image: url(./Images/Background.jpg);
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#Game_Title {
    font-family: 'VT323', monospace;
    font-size: 15vh;
    position: fixed;
    top: 10%;
    left: 30%;
}


#start_button{
    top: 50%;
    width: 30%;
    position: relative;
    left: 36%;
    z-index: 5;
}

#help_button{
    top: 65%;
    left: 11%;
    width: 20%;
    position: relative;
}

#start_button:hover, #help_button:hover{
    scale: 1.1;
}



/*
#start-menu {
    position: relative;
    
    top: 30%;
    left: 40%;

    width: 40%;
    height: 40%;
    background-color: aqua;
    z-index: 200;
}
*/

