@import url("animations.css");@import url("game_clouds.css");@import url("game_baloons.css");@import url("game_airbaloons.css");@import url("game.bombs.css");@import url(game_UI.css);@import url(start.css);@import url(win.css); @import url(lose.css); @import url(positions.css); @import url(delays.css);

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

img {
    width: 100%;
}

#screen {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    aspect-ratio: 16 / 9;
    cursor:crosshair;
}

#game {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: 10% / 10%;
    grid-template-rows: 100%;
}

#game_background {
    grid-area: 1 / 1;
    
    background-image: url(./Ideer/Background2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    /*
    Original baggrund:
    background-image: url(./Images/Background.jpg);
    background-size: contain;
    */

    /*animation: Shake 0.1s linear 0s 15;*/
}

#game_elements, #game_ui {
    grid-area: 1 / 1;
    position: relative;
}

#game_elements{
    overflow: hidden;
}

#game_ui > img {
    z-index: 4;
    width: 100%;
    position: absolute;
}


.hidden {
    display: none;
}

.paused {
    animation-play-state: paused;
}
