@import url("animations.css");

body {
    margin: 0;
    overflow: hidden;
}

#screen {
    aspect-ratio: 16 / 9;
}

#game_background {
    position: relative;
    width: 100%;
    height: 100vw;
    background-image: url(./Images/Background.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    
}

#game_elements img {
    outline: 1px solid orange;
}


/* Healthy */

#healthy2_container img {
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 35%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#healthy1_container img {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 25%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* Unhealthy */

#unhealthy1_container img {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 65%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#unhealthy2_container img {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 75%;
    width: 50px;
    height: 50px;
    border-radius: 100%;

    animation: AirOut_DownLeft 2s ease-in infinite forwards;
}

#unhealthy3_container img {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 10%;
}



