
#level_complete {
    z-index: 5;
    grid-area: 1 / 1;
    background-image: url(./Images/win_background.avif);
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#You_Win {
    top: 5%;
    width: 50%;
    position: relative;
    left: 27%;
}

#Menu_Button {
    top: 62%;
    width: 30%;
    position: relative;
    left: -35%;
}

#Next_Button {
    top: 42.5%;
    width: 30%;
    position: relative;
    left: 55%;
}


#Next_Button:hover, #Menu_Button:hover{
    scale: 1.1;
}

#win_text {
    font-family: 'VT323', monospace;
    font-size: 5vw;
    position: relative;
    top: -10%;
    left: 35%;
}

#win_score {
    color:rgb(0, 255, 38);
    font-family: 'VT323', monospace;
    font-size: 6vw;
    position: relative;
    top: -20%;
    left: 45%; 
}